<table class="">
  <thead>
    <tr>
      <th>
        {{input type="checkbox" checked=isAllselected}}
      </th>
      <th>
        Name
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{input type="checkbox" checked=isAllselected}}
      </td>
    </tr>
    <tr>

    </tr>
  </tbody>
</table>