<section class="d-flex">
  <section class="navbar-section">
    <NavBar />
  </section>
  <section class="content-section">
    <h1>Agriculture Paradise</h1>
    <LinkTo @params={{array "category"}}>Category</LinkTo>
    {{outlet}}
  </section>
</section>